table, tr, td {
    margin: 0px;
}

table {
    border: 1px solid lightgrey;
    border-collapse: collapse;
    box-shadow: 0px 0px 10px whitesmoke;
}

tr:nth-child(even) {
    background-color: lightgrey;
}

th, td {
    width: 10rem;
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
    padding: 10px;
}

th {
    background-color: darkblue;
    color: white;
    text-transform: uppercase;
}

td {
    text-transform: capitalize;
}